.is-garlic {
	background: #ffca42;
}

.full-input {
	border-color: transparent;
	padding: 1.5em 1em;
	border-radius: 0;
}

.interact-shadow:hover, .interact-shadow:active, .interact-shadow:focus {
	border-color: transparent !important;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.help-text {
	font-size: 0.75rem;
	margin-top: 0.25rem;
	color: white;
}

.card-list {
	margin-top: 1em;
}